AutoNN/__pycache__/
AutoNN/networkbuilding/__pycache__/
AutoNN/preprocessing/__pycache__/
AutoNN/CNN/__pycache__/
*.ipynb
test.py 
*.pth
*.pyc
best_models/
config_files/
*.csv
build/
dist/
nocode_autonn.egg-info/